body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:74px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:371px;
  overflow:hidden;
}
#u282_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:371px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u282_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:16px;
  height:18px;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:22px;
  width:16px;
  height:18px;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:30px;
  width:16px;
  height:18px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
