body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:585px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:118px;
  width:71px;
  height:16px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:118px;
  width:71px;
  height:16px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:115px;
  width:163px;
  height:22px;
}
#u218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u218_input:disabled {
  color:grayText;
}
#u219 {
  position:absolute;
  left:422px;
  top:115px;
}
#u219_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background-image:none;
}
#u219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u220_input:disabled {
  color:grayText;
}
#u219_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  visibility:hidden;
  background-image:none;
}
#u219_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u221_input:disabled {
  color:grayText;
}
#u219_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  visibility:hidden;
  background-image:none;
}
#u219_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u222_input:disabled {
  color:grayText;
}
#u219_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  visibility:hidden;
  background-image:none;
}
#u219_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u223_input:disabled {
  color:grayText;
}
